@model IEnumerable<autocarrs.Models.Cart>
@if (Model != null)
{
    <style>
        order {
            display: none
        }
    </style>
   
    @*<div class="section-header text-center">
        <h2><span>Your Cart </span></h2>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
    </div>*@
    <div class="form-group">
        <h2><span>Your Cart </span></h2>
    </div>
    
          <div class="modal-body">
            <div class="login_wrap">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                       
                        @foreach (var item in Model)
                        {
                            <div class="form-group">
                                @*<h4>  @item.AutosVehicle.CarMake.MkDesc  @item.AutosVehicle.CarModel.MdDesc  @item.AutosVehicle.CarBody.BDDesc   <button class="btn"><i class="fa fa-times-circle-o" onclick="location.href='@Url.Action("Delete", "Carts", new { id = @item.CartId, BuyrId=item.BuyrID})'"></i></button>  <button class="btn"><i class="fa fa-plus" onclick="location.href='@Url.Action("AddOrder", "OrderMasters", new { AutoId = item.AutoId, SellPri=item.SellPri })'"></i></button> </h4>*@
                                <h4>  @item.AutosVehicle.CarMake.MkDesc  @item.AutosVehicle.CarModel.MdDesc  @item.AutosVehicle.CarBody.BDDesc   <button class="btn"><i class="fa fa-times-circle-o" onclick="location.href='@Url.Action("Delete", "Carts", new { id = @item.CartId, BuyrId=@item.BuyrID})'"></i></button>  <button class="btn"><i class="fa fa-plus" onclick="PopulateOrder(@item.CartId, '@item.BuyrID')"></i></button></h4>
                            </div>
                            <div class="form-group">
                                <h4>  @item.AutosVehicle.Acolor color</h4>
                                <h3> <i>Car Price </i><span>@item.AutosVehicle.SellPri</span></h3>
                           
                            </div>
                        }
                    </div>
                    <div id="order" class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <h2><span>Your Order </span></h2>
                        </div>
                        <h4> <i>Total Car Price </i> </h4> <h4 id="x"></h4>
                        <h4> <i>Vat Deduction</i> 10%</h4>
                        <h4> <i>Quantity</i></h4> <h4 id="z"></h4>
                        <script>
                            function PopulateOrder( cartId,  buyer)
                            {
                                var CartID = cartId;
                                var Buyer = buyer;
                                alert("cartid: " + CartID);
                                alert("Buyer: " + Buyer);
                                 $.ajax({
                                     url: 'https://localhost:44363/api/Carts/GetTotalOrder',
                                    //type: 'GET',
                                     data: { cartId: CartID, BuyrId: Buyer },
                                     success: function (data) {
                                        var a = 0; 
                                        var y = 0;
                                        var i;
                                        for (i = 0; i < data.length; i++)
                                        {
                                            var a= a+ data[i].sellPri;
                                            document.getElementById("x").innerHTML = a;
                                            y = y + 1;
                                            document.getElementById("z").innerHTML = y;
                                        }
                                    },
                                    error:

                                        function (data) {

                                            alert("error : " + data.responseText);
                                        }
                                });
                              }
                            </script>
                        @*<input type="submit" value="order" id="order" class="btn btn-block" onclick="location.href='@Url.Action("AddOrder", "AutosVehicles", new { id = item.AutoId})'">*@
                    </div>
                    
                    <div class="mid_divider"></div>
                </div>
            </div>
        </div>
        @*</div>*@
    //}
}