@model IEnumerable<autocarrs.Models.Cart>
 @if (Model != null)
{
   int count = 0;
    @*<div class="section-header text-center">
        <h2><span>Your Cart </span></h2>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
    </div>*@
  <div class="modal-body">
    <div class="login_wrap">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <h2><span>Your Cart </span></h2>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="font-size:10px">Car make</th>
                            <th style="font-size:10px">Car model</th>
                            <th style="font-size:10px">Car color</th>
                            <th style="font-size:10px">Price</th>
                            <th style="font-size:10px">Quantity</th>
                            <th style="font-size:10px">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int sum = 0;
                        }
                        @foreach (var item in Model)
                        {

                            sum = Convert.ToInt32(@item.SellPri) + sum;
                            count = count + 1;
                            <tr>
                                <td>@item.AutosVehicle.CarMake.MkDesc</td>
                                <td>@item.AutosVehicle.CarModel.MdDesc  @item.AutosVehicle.CarBody.BDDesc</td>
                                <td> @item.AutosVehicle.Acolor color</td>
                                <td>@item.SellPri</td>
                                <td>1</td>
                                <td><button style="font-size:24px;color:red"> <i class="fa fa-trash-o " onclick="location.href='@Url.Action("Delete", "Carts", item)'"></i></button></td>
                            </tr>
                        }
                        <tr>
                            <td colspan="4" class="text-right"><b>Total: $@sum</b></td>
                            <td colspan="5" class="text-left"><b>Total: @count</b></td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-success" onclick="location.href='@Url.Action("AddOrder", "OrderMasters")'">Payment >> </button> <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Index", "Home")'"> Continue Shopping >></button>
            </div>
            <div id="order" class="col-md-6 col-sm-6">
                @if (Model is autocarrs.Models.OrderMaster)
                {
                    Html.RenderPartial("OrderMaster");
                }
             
                @*<div class="mid_divider"></div>*@
            </div>
    </div>
   </div>
 </div>
}
