@model IEnumerable<autocarrs.Models.AutosVehicle>
<script>
    function deleteButton(Id) {
        document.getElementById(Id).style.display = "none";
    }
</script>
<section id="filter">
    @*<form action="~/AutosVehicle/Details" method="post" id="chooseCar">*@
        @if (Model != null)

        {
              
            <div class="section-header text-center">
                <h2>Your Search Results are based On following filters<span></span></h2>
            </div>
            <div class="row">
                <div class="form-group col-md-12 black_input">

                    @foreach (var item in Model)
                    {
                        if (@ViewBag.FuelType != "x")
                        {
                            <button type="button" class="btn btn-primary" id="FuelType" onclick="deleteButton(" FuelType")">
                                @ViewBag.FuelType <span class="badge badge-light">x</span>
                            </button>
                        }
                        if (@ViewBag.Transmission != "x")
                        {
                            <button type="button" class="btn btn-primary" id="Transmission">
                                @ViewBag.Transmission <span class="badge badge-light">x</span>
                            </button>
                        }
                        if (@ViewBag.Acolor != "x")
                        {
                            <button type="button" class="btn btn-primary">
                                @ViewBag.Acolor <span class="badge badge-light">x</span>
                            </button>
                        }
                        if (@ViewBag.MakeId != "x")
                        {
                            <button type="button" class="btn btn-primary">
                                @item.CarMake.MkDesc <span class="badge badge-light">x</span>
                            </button>
                        }
                        if (@ViewBag.ModlId != "x")
                        {
                            <button type="button" class="btn btn-primary">
                                @item.CarModel.MdDesc <span class="badge badge-light">x</span>
                            </button>
                        }
                        if (@ViewBag.AuYear != "0")
                        {
                            <button type="button" class="btn btn-primary">
                                @ViewBag.AuYear <span class="badge badge-light">x</span>
                            </button>
                        }
                        if (@ViewBag.Cosumption != "0")
                        {
                            <button type="button" class="btn btn-primary">
                                @ViewBag.Cosumption <span class="badge badge-light">x</span>
                            </button>
                        }
                        if (@ViewBag.from != "0")
                        {
                            <button type="button" class="btn btn-primary">
                                @ViewBag.from <span class="badge badge-light">x</span>
                            </button>
                        }
                        if (@ViewBag.to != "0")
                        {
                            <button type="button" class="btn btn-primary">
                                @ViewBag.to <span class="badge badge-light">x</span>
                            </button>
                        }
                        if (@ViewBag.Volume != "0")
                        {
                            <button type="button" class="btn btn-primary">
                                @ViewBag.Volume <span class="badge badge-light">x</span>
                            </button>
                        }
                        if (@ViewBag.Powerfrom != "0")
                        {
                            <button type="button" class="btn btn-primary">
                                @ViewBag.Powerfrom <span class="badge badge-light">x</span>
                            </button>
                        }
                        if (@ViewBag.Powerto != "0")
                        {
                            <button type="button" class="btn btn-primary">
                                @ViewBag.Powerto <span class="badge badge-light">x</span>
                            </button>
                        }
                        if (@ViewBag.fromMil != "0")
                        {
                            <button type="button" class="btn btn-primary">
                                @ViewBag.fromMil <span class="badge badge-light">x</span>
                            </button>
                        }
                        if (@ViewBag.toMil != "0")
                        {
                            <button type="button" class="btn btn-primary">
                                @ViewBag.toMil <span class="badge badge-light">x</span>
                            </button>
                        }
                        if (@ViewBag.SellPri != "0")
                        {
                            <button type="button" class="btn btn-primary">
                                @ViewBag.SellPri <span class="badge badge-light">x</span>
                            </button>
                        }
                        if (@ViewBag.Engine != "x")
                        {
                            <button type="button" class="btn btn-primary">
                                @ViewBag.Engine <span class="badge badge-light">x</span>
                            </button>
                        }
                        if (@ViewBag.Seater != "0")
                        {
                            <button type="button" class="btn btn-primary">
                                @ViewBag.Seater <span class="badge badge-light">x</span>
                            </button>
                        }
                        if (@ViewBag.NoOfDoors != "0")
                        {
                            <button type="button" class="btn btn-primary">
                                @ViewBag.NoOfDoors <span class="badge badge-light">x</span>
                            </button>
                        }
                        if (@ViewBag.YearFrom != "0")
                        {
                            <button type="button" class="btn btn-primary">
                                @ViewBag.YearFrom <span class="badge badge-light">x</span>
                            </button>
                        }
                        if (@ViewBag.YearTo != "0")
                        {
                            <button type="button" class="btn btn-primary">
                                @ViewBag.YearTo <span class="badge badge-light">x</span>
                            </button>
                        }

                        break;

                    } @* forloop *@
                </div>
            </div>
            <div class="row">

                @foreach (var item in Model)
                {
                    <div class="col-list-3">
                        <div class="featured-car-list">
                            <div class="featured-car-img">
                               
                                <a href="~/assets/images/featured-img-01.jpg"><img src="~/assets/images/featured-img-01.jpg" class="img-fluid" alt="Image"></a>
                                <div class="label_icon">New</div>
                            </div>
                            <div class="featured-car-content">
                                @*<h6><a href="#">Car Name</a></h6>*@
                                <div class="price_info">
                                    <p class="featured-price">$@item.SellPri</p>
                                    <div class="car-location"><span><i class="fa fa-map-marker" aria-hidden="true"></i> @item.StatNm, @item.CnName</span></div>
                                </div>
                                <ul>
                                    <li><i class="fa fa-road" aria-hidden="true"></i>0,000 km</li>
                                    <li><i class="fa fa-tachometer" aria-hidden="true"></i>@item.Mileag miles</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>@item.AuYear @item.CarModel.MdDesc</li>
                                    <li><i class="fa fa-car" aria-hidden="true"></i>@item.FuelType</li>
                                    <li><i class="fa fa-user" aria-hidden="true"></i>@item.Seater seats</li>
                                    <li><i class="fa fa-superpowers" aria-hidden="true"></i>@item.Power kW</li>
                                </ul>
                               
                            </div>

                        <input type="submit" name="Choose" value="Choose" class="login_btn" onclick="location.href='@Url.Action("GetAutoById", "AutosVehicles", new { id = item.AutoId })'">
                              
                        </div>
                    </div>
                } @* for loop *@
            </div>

        }
    @*</form>*@
</section>
