@using autocarrs.Models;
@model Load

@if (Model != null)
{<div class="section-header text-center">
        <h2>Featured  Cars <span>Special Offers</span></h2>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
    </div>

    <div class="row">
        @foreach (var item in Model.AutosVehicleF)
        {
            
                <div class="col-list-3">
                    <div class="featured-car-list">

                        @foreach (var i in item.AutosImages)
                        {
                            int len = item.AutosImages.Count;

                            for (int j = 0; j < len;)
                            {

                                <div class="featured-car-img">
                                    @*<a href=""><img src="~assets/images/600x380.jpg" class="img-fluid" alt="Image"></a>*@
                                    @*<a href="~/assets/images/featured-img-01.jpg"><img src="~/assets/images/featured-img-01.jpg" class="img-fluid" alt="Image"></a>*@
                                    <a href=@i.ImgURL><img src=@i.ImgURL class="img-fluid" alt="Image"></a>

                                    <div class="label_icon">New</div>
                                </div>
                                j = len;
                                break;

                            }
                            break;
                        }
                        <div class="featured-car-content">
                            @*<h6><a href="#">Car Name</a></h6>*@
                            <div class="price_info">
                                <p class="featured-price">$@item.SellPri</p>
                                <div class="car-location"><span><i class="fa fa-map-marker" aria-hidden="true"></i> @item.StatNm, @item.CnName</span></div>
                            </div>
                            <ul>
                                <li><i class="fa fa-road" aria-hidden="true"></i>0,000 km</li>
                                <li><i class="fa fa-tachometer" aria-hidden="true"></i>@item.Mileag miles</li>
                                <li><i class="fa fa-calendar" aria-hidden="true"></i>@item.AuYear @item.CarModel.MdDesc</li>
                                <li><i class="fa fa-car" aria-hidden="true"></i>@item.FuelType</li>
                                <li><i class="fa fa-user" aria-hidden="true"></i>@item.Seater seats</li>
                                <li><i class="fa fa-superpowers" aria-hidden="true"></i>@item.Power kW</li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

}
