@model IEnumerable<autocarrs.Models.AutosVehicle>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>@ViewBag.Title - AutoCars.Com</title>
    `
    <!--Bootstrap -->
    @Styles.Render("~/assets/css/bootstrap.min.css")
    <!--Custome Style -->
    @Styles.Render("~/assets/css/style.css")
    <!--OWL Carousel slider-->
    @Styles.Render("~/assets/css/owl.carousel.css")
    @Styles.Render("~/assets/css/owl.transitions.css")
    <!--slick-slider -->
    @Styles.Render("~/assets/css/slick.css")
    <!--bootstrap-slider -->
    @Styles.Render("~/assets/css/bootstrap-slider.min.css")
    <!--FontAwesome Font Style -->
    @Styles.Render("~/assets/css/font-awesome.min.css")

    <!-- Custom Colors -->
    @Styles.Render("~/assets/colors/blue.css")
    @Styles.Render("~/assets/css/style.css")

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/assets/images/favicon-icon/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/assets/images/favicon-icon/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/assets/images/favicon-icon/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/assets/images/favicon-icon/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="~/assets/images/favicon-icon/favicon.png">
    <!-- Google-Font-->
    @Styles.Render("https://fonts.googleapis.com/css?family=Lato:300,400,700,900")


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @* by SM on Jun  4 *@
    <style>
        .collapsible {
            background-color: lightblue;
            color: white;
            cursor: pointer;
            padding: 10px;
            width: 100%;
            border: none;
            text-align: center;
            outline: none;
            font-size: 15px;
        }

        .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
        }

        .active, .collapsible:hover {
            background-color: lightgray;
        }
    </style>
    <style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@*@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*@
    </style>


    @*<div class="sidenav">
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#clients">Clients</a>
        <a href="#contact">Contact</a>
    </div>

    <div class="main">
        <h2>Auto Sidebar</h2>*@

        @* Changes end here *@


        </head>
<body>
    <header>
        <div class="default-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-md-2">
                        <div class="logo"> <a href="#"><img src="~/assets/images/logo.png" alt="image" /></a> </div>
                    </div>
                    <div class="col-sm-9 col-md-10">
                        <div class="header_info">
                            <div class="header_widgets">
                                <div class="circle_icon"> <i class="fa fa-envelope" aria-hidden="true"></i> </div>
                                <p class="uppercase_text">For Support Mail us : </p>
                                <a href="mailto:info@example.com">info@example.com</a>
                            </div>
                            <div class="header_widgets">
                                <div class="circle_icon"> <i class="fa fa-phone" aria-hidden="true"></i> </div>
                                <p class="uppercase_text">Service Helpline Call Us: </p>
                                <a href="tel:61-1234-5678-09"></a>


                            </div>
                            <div class="social-follow">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="login_btn"> <a href="#loginform" class="btn btn-xs uppercase" data-toggle="modal" data-dismiss="modal">Login / Register</a> </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div style="text-align: right;">
                        @if (Model is autocarrs.Models.SiteUsers)
                        {
                            Html.RenderPartial("Welcome");
                        }
                        else if (Model is autocarrs.Models.Error)
                        {
                            Html.RenderPartial("Error");
                        }
                        else
                        {

                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- Navigation -->
        <nav id="navigation_bar" class="navbar navbar-expand-lg">
            <div class="container">
                <div class="row header-row">
                    <div class="navbar-header">
                        <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse" class="navbar-toggler" type="button"> <i class="fa fa-bars"></i> </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Buy</a>
                                <ul class="dropdown-menu">
                                    <li><a href="index.html">Home Page 1</a></li>
                                    <li><a href="index-2.html">Home Page 2</a></li>
                                    <li><a href="index-3.html">Home Page 3</a></li>
                                </ul>
                            </li>
                            <li><a href="about-us.html">About Us</a></li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sell</a>
                                <ul class="dropdown-menu">
                                    <li><a href="dealers-list.html">List View</a></li>
                                    <li><a href="dealers-profile.html">Detail Page</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Finance</a>
                                <ul class="dropdown-menu">
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="contact-us.html">Contact Us</a></li>
                                    <li><a href="compare.html">Compare Vehicles</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="404.html">404 Error</a></li>
                                    <li><a href="coming-soon.html">Coming Soon</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact Us</a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                    <li><a href="blog-detail.html">Blog Detail</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("MyCart", "Carts", new { BuyrId = ViewBag.UserId })">
                                    <i class="fa fa-shopping-cart" style="font-size:48px;color:red" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- removing John Anderson menu by SM -->
                    <div class="header_search">
                        <div id="search_toggle"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <form action="#" method="get" id="header-search-form">
                            <input type="text" placeholder="Search..." class="form-control">
                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navigation end -->
    </header>
    <!-- /Header -->
    <!-- Banners -->
    <section id="banner" class="banner-section">
        <div class="container">
            <div class="div_zindex">
                <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-5">

                        <
                        <!--div class="banner_content">
                            <h1>Find the right car for you.</h1>
                            <p>We have more than a thousand cars for you to choose. </p>
                            <a href="#" class="btn">Read More <span class="angle_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    @* Added by SM on Aug 31, 2020 to check side nav bar *@
    @*<div class="sidenav">
            <a href="#about">About</a>
            <a href="#services">Services</a>
            <a href="#clients">Clients</a>
            <a href="#contact">Contact</a>
        </div>

        <div class="main">
            <h2>Auto Sidebar</h2>
        </div>*@
    <!-- Nav bar changes end here -->
    <!-- search Result -->
    @*<section id="banner" class="banner-section">
            <div class="container">
                <h2>@ViewBag.FuelType</h2>
            </div>
        </section>*@
    <!-- /search Result -->
    <!-- Filter-Form -->
    <!-- /Filter-Form -->
    <!-- About -->
    <!-- /About -->
    <!-- Resent Cat-->
    <!-- /Resent Cat -->
    <!-- Fun Facts-->
    <!-- /Fun Facts-->
    <!--Featured Car-->
    <section class="section-padding">
        <div class="container">
            <div>
                @if (ViewBag.mystring is null)
                {
                    Html.RenderPartial("FeaturedCars");
                }
                else
                {
                    Html.RenderPartial("SearchByBrands");
                }
            </div>
        </div>
    </section>
    <!-- /Featured Car-->
    <!--Trending Car-->
    <!-- /Trending Car-->
    <!--Testimonial -->
    <!-- /Testimonial-->
    <!--Blog -->
    <!-- /Blog-->
    <!--Brands-->
    <!-- /Brands-->
    <!--Footer -->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h6>Top Categores</h6>
                        <ul>
                            <li><a href="#">Car Brand Name</a></li>
                            <li><a href="#">Car Brand Name 2</a></li>
                            <li><a href="#">Car Brand Name 3</a></li>
                            <li><a href="#">Car Brand Name 4</a></li>
                            <li><a href="#">Car Brand Name 5</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h6>About Us</h6>
                        <ul>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Hybrid Cars</a></li>
                            <li><a href="#">Cookies</a></li>
                            <li><a href="#">Trademarks</a></li>
                            <li><a href="#">Terms of use</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">Our Partners</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Investors</a></li>
                            <li><a href="#">Request a Quote</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h6>Subscribe Newsletter</h6>
                        <div class="newsletter-form">
                            <form action="#">
                                <div class="form-group">
                                    <input type="email" class="form-control newsletter-input" required placeholder="Enter Email Address" />
                                </div>
                                <button type="submit" class="btn btn-block">Subscribe <span class="angle_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                            </form>
                            <p class="subscribed-text">*We send great deals and latest auto news to our subscribed users every week.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="copy-right">Copyright &copy; 2020 AAAutos. All Rights Reserved</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="footer_widget">
                            <p>Download Our APP:</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-android" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-apple" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="footer_widget">
                            <p>Connect with Us:</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer-->
    <!--Back to top-->
    <div id="back-top" class="back-top"> <a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i> </a> </div>
    <!--/Back to top-->
    <!--Login-Form -->
    <div class="modal fade" id="loginform">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Login</h3>
                </div>
                <div class="modal-body">
                    <div class="login_wrap">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <form action="~/Account/Login" method="post">
                                    <div class="form-group">
                                        <input type="text" name="UserId" id="UserId" class="form-control" placeholder="Username or Email address*">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="UserPassword" id="UserPassword" class="form-control" placeholder="Password*">
                                    </div>
                                    <div class="form-group checkbox">
                                        <input type="checkbox" id="remember">
                                        <label for="remember">Remember Me</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Login" id="login" class="btn btn-block">
                                        <div class="form-group">

                                            @if (Model is autocarrs.Models.Error)
                                            {
                                                Html.RenderPartial("Error");
                                            }
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <h6 class="gray_text">Login the Quick Way</h6>
                                <a href="Account/LoginWithFaceBook" class="btn btn-block facebook-btn"><i class="fa fa-facebook-square" aria-hidden="true"></i> Login with Facebook</a> <a href="#" class="btn btn-block twitter-btn"><i class="fa fa-twitter-square" aria-hidden="true"></i> Login with Twitter</a> <a href="#" class="btn btn-block googleplus-btn"><i class="fa fa-google-plus-square" aria-hidden="true"></i> Login with Google+</a>
                            </div>
                            <div class="mid_divider"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <p>Don't have an account? <a href="#signupform" data-toggle="modal" data-dismiss="modal">Signup Here</a></p></br>
                    <p><a href="#forgotpassword" data-toggle="modal" data-dismiss="modal">Forgot Password ?</a></p>
                </div>
            </div>
        </div>
    </div>
    <!--/Login-Form -->
    <!--Register-Form -->
    <div class="modal fade" id="signupform">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Sign Up</h3>
                </div>
                <div class="modal-body">
                    <div class="signup_wrap">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <form action="~/Account/Create" method="post">
                                    <div class="form-group">
                                        <input type="text" name="UserId" class="form-control" placeholder="User Id">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="UserFName" class="form-control" placeholder="First Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="UserMName" class="form-control" placeholder="Middle Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="UserLName" class="form-control" placeholder="Last Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="UserEmail" class="form-control" placeholder="Email Address">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="UserPassword" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="Confirmed" class="form-control" placeholder="Confirm Password">
                                    </div>
                                    <div class="form-group checkbox">
                                        <input type="checkbox" id="terms_agree">
                                        <label for="terms_agree">I Agree with <a href="#">Terms and Conditions</a></label>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Sign Up" class="btn btn-block">
                                    </div>

                                    @if (Model is autocarrs.Models.SiteUsers)
                                    {
                                        Html.RenderPartial("Welcome");
                                    }

                                </form>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <h6 class="gray_text">Login the Quick Way</h6>
                                <a href="#" class="btn btn-block facebook-btn" id="fblogin"><i class="fa fa-facebook-square" aria-hidden="true"></i> Login with Facebook</a> <a href="#" class="btn btn-block twitter-btn"><i class="fa fa-twitter-square" aria-hidden="true"></i> Login with Twitter</a> <a href="#" class="btn btn-block googleplus-btn"><i class="fa fa-google-plus-square" aria-hidden="true"></i> Login with Google+</a>
                            </div>
                            <div class="mid_divider"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <p>Already got an account? <a href="#loginform" data-toggle="modal" data-dismiss="modal">Login Here</a></p>
                </div>
            </div>
        </div>
    </div>
    <!--/Register-Form -->
    <!--Forgot-password-Form -->
    <div class="modal fade" id="forgotpassword">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Password Recovery</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="forgotpassword_wrap">
                            <div class="col-md-12">
                                <form action="#" method="get">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Your Email address*">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Reset My Password" class="btn btn-block">
                                    </div>
                                </form>
                                <div class="text-center">
                                    <p class="gray_text">For security reasons we don't store your password. Your password will be reset and a new one will be send.</p>
                                    <p><a href="#loginform" data-toggle="modal" data-dismiss="modal"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to Login</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Forgot-password-Form -->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <!-- Scripts -->
    @Scripts.Render("~/assets/js/jquery.min.js")
    @Scripts.Render("~/assets/js/popper.min.js")
    @Scripts.Render("~/assets/js/bootstrap.min.js")
    @Scripts.Render("~/assets/js/interface.js")
    <!--bootstrap-slider-JS-->
    @Scripts.Render("~/assets/js/bootstrap-slider.min.js")
    <!--Slider-JS-->
    @Scripts.Render("~/assets/js/slick.min.js")
    @Scripts.Render("~/assets/js/owl.carousel.min.js")
    <!--by SM for fb authentication-->
    @Scripts.Render("~/Scripts/jquery.3.3.1.min.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
